html{
    font-family: sans-serif;
}
li{
    padding:5x;
    margin-bottom:10x;
}
li:hover{
    background-color: lightgreen
}

.pomodoro-estimate{
    color:red;
font-weight: bold;
font-size: 14px;
background-color: lightblue;
padding: 5px 10px 5px 10px;
border-radius: 15px
padding :10px;

}
#to-do {
font-size: 20px;
  text-align: center;
  color: #FFF;
  outline: none;
  border-style: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #90A4AE;
  display: block;
  background-color: #03A9F4;
  margin-top: 10px;
  
#
    
}